---
const today = new Date();
---

<footer class="flex flex-row justify-between text-sm m-5">
	&copy; {today.getFullYear()} Pac0D3v. All rights reserved.
	<div class="social-links">
		<a href="https://m.webtoo.ls/@astro" target="_blank">LinkedIn</a>
		<a href="https://twitter.com/astrodotbuild" target="_blank">Twitter</a>
		<a href="https://github.com/withastro/astro" target="_blank">GitHub</a>
	</div>
</footer>
